.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

mat-icon {
  color: red;
}

a {
  text-decoration: none;
  width: 100%;
}

mat-card-header {
  flex: 1;
}
